@charset "utf-8";

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
  font-family: 'Noto Sans', sans-serif;
  line-height: 2;
}

.meter-container  {
  display: flex;
  gap: 3px;
  height: 60px;
  margin: 1px 3px 1px 3px;
  /*  background-color: chartreuse; */
}

.ch-color {
  flex: 0 0 10px;
  border: 1px solid #A9A9A9;
  font-size: 1px;
}

.color-green {
  background-color: #599228;
}

.color-blue {
  background-color: #0544D3;
}

.color-red {
  background-color: #D70206;
}

.color-brown {
  background-color: #895129;
}

.meter-mode {
  flex: 0 0 20px;
  margin: 2px 0 2px 0;
  font-size: 13px;
}

.meter-val {
  flex: 1 1 200px;
  height: 57px;
  border: 1px solid #A9A9A9;
  font-size: 40px;
  line-height: 57px;
  text-align: right;
  user-select: all;
/*  background-color: rgb(100, 127, 245); */
}

.meter-unit {
  flex: 0 0 70px;
  height: 57px;
  padding: 0 0 0 2px;
  border: 1px solid #A9A9A9;
  font-size: 40px;
  line-height: 57px;
  text-align: left;
  user-select: all;
}

.col  {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.small-switch input[type='checkbox'] {
  display: none;
}

.small-switch label {
  flex: 0 0 23px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid #A9A9A9;
  border-radius: 2px;
  background-color: #FFFFFF;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  color: #000000;
}

.small-switch input[type='checkbox']:checked + label {
  background-color: #009cd3;
  color: #ffffff;
}

.small-switch input[type='checkbox']:disabled + label {
  background-color: #e9e9e9;
  color: #ccc;
  border: 2px solid #ccc;
}

.meter-range {
  flex: 0 0 23px;
  font-size: 13px;
}

.control-container {
  display: flex;
  gap: 3px;
  height: 35px;
  margin: 1px 3px 1px 3px;
  align-items: center;
/*  background-color: lightblue; */
}

.dropdown {
  height: 23px;
  flex: 0 0 23px;
  font-size: 13px;
}

.switch input[type='checkbox'] {
  display: none;
}

.switch label {
  width: 52px;
  height: 25px;
  margin: 2px 2px 4px 2px;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid #009cd3;
  border-radius: 2px;
}

.switch input[type='checkbox']:checked + label {
  background-color: #009cd3;
  color: #ffffff;
}

.switch input[type='checkbox']:disabled + label {
  background-color: #e9e9e9;
  color: #ccc;
  border: 2px solid #ccc;
}

#stat .mode {
  margin-top: 5px;
  flex: 1 1 200px;
}

.switch label {
  width: 52px;
  height: 25px;
  margin: 2px 2px 4px 2px;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid #009cd3;
  border-radius: 2px;
}

.switch input[type='checkbox']:checked + label {
  background-color: #009cd3;
  color: #ffffff;
}

.switch input[type='checkbox']:disabled + label {
  background-color: #e9e9e9;
  color: #ccc;
  border: 2px solid #ccc;
}

.runbtn input[type='checkbox']:checked + label:after {
  content:"STOP";
  background-color: #009cd3;
  color: #ffffff;
}

.runbtn input[type='checkbox'] + label:after {
  content:"RUN";
}

#chart-container {
  height: 400px;
  margin: 2px;
}

#stat .ch-color {
  height: 26px;
}

.stat-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, max-content));  
  justify-content: start;
  gap: 1px;
/*  background-color: red; */
}

.stat-container {
  display: flex;
  margin: 0 1px 1px 1px;
  gap: 1px;
  align-items: center;
/*  background-color: red; */
}

.stat-box, .stat-unit {
  display: flex;
  height: 26px;
  margin: 0px 3px 0px 0px;
  padding: 0 0 0 2px;
  border: 1px solid #A9A9A9;
}

.stat-label, .stat-val, .stat-long-label ,.stat-long-val {
  flex: 0 0 25px;
  margin: 0px;
  padding: 0 2px 0 1px;
  font-size: 16px;
  text-align: right;
}

.stat-label {
  flex: 0 0 33px;
  margin: 0px 0px 0px 2px;
  text-align: left;
}

.stat-val {
  flex: 0 0 50px;
  text-align: right;
  user-select: all;
}

.top-of-chart {
  display: flex;
  margin: 0 0 0 0;
  gap: 3px;
  align-items: center;
/*  background-color: red; */
}

.choice-box {
  flex: 0 0 105px;
  height: 28px;
  margin: 0px 0px 0px 15px;
/*  border: 1px solid #A9A9A9;  */
}

.stat-time-box {
  display: flex;
  height: 28px;
  margin: 2px 3px 2px 5px;
  margin: 0px 0px 0px 15px;
/*  border: 1px solid #A9A9A9;  */
}

.stat-time-label {
  flex: 0 0 50px;
  margin: 0px 0px 0px 40px;
  text-align: left;
/*  background-color: lightblue; */
}

.stat-time-val {
  flex: 0 0 130px;
  text-align: left;
  user-select: all;
}

/*
.stat-long-box {
  display: flex;
  height: 28px;
  margin: 2px 3px 2px 5px;
  border: 1px solid #A9A9A9;
  float: left;
}

.stat-long-label {
  flex: 0 0 33px;
  margin: 0px 0px 0px 2px;
  text-align: left;
}

.stat-long-val {
  flex: 0 0 116px;
  text-align: right;
  user-select: all;
}
*/

.stat-unit {
  flex: 0 0 26px;
  text-align: center;
}

.hide {
  display: none;
}

#reset-zoom {
  display: block;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 13px;
  width: 70px;
  height: 29px;
  margin: 2px;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  float: right;
  cursor: pointer;
  border: 2px solid #009cd3;
  border-radius: 2px;
}

button {
  display: block;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 13px;
  width: 70px;
  height: 29px;
  margin: 2px;
  font-size: 13px;
  text-align: center;
  float: left;
  cursor: pointer;
  border: 2px solid #009cd3;
  border-radius: 2px;
}

button:hover, #reset-zoom:hover {
  background-color: #00BED4;
  color: #FFFFFF;
}

button:disabled, #reset-zoom:disabled {
  background-color: #e9e9e9;
  color: #ccc;
  border: 2px solid #ccc;
}
